@model GimcheonLibraryEF.DataAccess.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    @if (!String.IsNullOrEmpty(@Model.ImageUrl))
    {
        <img alt="@Model.Title" src="@Model.ImageUrl" />
    }
    else
    {
        <img alt="@Model.Title" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png" />
    }
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCopies)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalCopies)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableCopies)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AvailableCopies)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
