@model IEnumerable<GimcheonLibraryEF.DataAccess.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Add Book</a>
    </p>
}

<form asp-controller="Books" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(book => book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(book => book.Author)
            </th>
            <th>
                @Html.DisplayNameFor(book => book.AvailableCopies)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@book.Id">@Html.DisplayFor(books => book.Title)</a>
                </td>
                <td>
                    <a asp-controller="Authors" asp-action="Details" asp-route-id="@book.AuthorId">@Html.DisplayFor(books => book.Author.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(books => book.AvailableCopies)
                </td>

                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@book.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@book.Id">Delete</a>
                    </td>
                }

                @if (signInManager.IsSignedIn(User) && User.IsInRole("User"))
                {
                    <td>
                        <a class="btn btn-primary"
                           asp-controller="" asp-action="" asp-route-id="">
                            Borrow Book
                        </a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
